# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.NOTS_Uitwerking_opdracht_1.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\joris\source\repos\MultiChatOpdracht1\.idea\.idea.NOTS_Uitwerking_opdracht_1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
